@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/* SCROLLBAR */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    color: inherit;
}

body {
    width: 100%;
    background: rgb(31, 31, 31);
}

#main-header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

#main-inner-header {
    height: 100%;
    width: 80%;
    display: block;
    margin: 0 auto;
    /* background-color: rgba(255, 0, 0, 0.363); */
}

#main-logo-container {
    height: 100%;
    user-select: none;
    display: table;
    float: left;
}

#main-headericons-container {
    height: 100%;
    display: table;
    float: right;
}

#main-logo-container h1 {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 36px;
    padding: 0;
}

#main-headericons-container .main-headericon-image:hover {
    box-shadow: 1px 1px 1px white;
}

#main-headericons-container .main-headericon-image {
    /* background-color: royalblue; */
    transition: 0.2s;
    display: table-cell;
    vertical-align: middle;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: contain;
    margin: 17.5px 5px;
}

#header-logo-img {
    object-fit: contain;
    height: 50px;
    padding: 15px 0px 15px 10px;
    margin-top: auto;
    /* height: 100%; */
    display: table-cell;
    vertical-align: middle;
}

.btn {
    transition: 0.2s;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    display: inline-block;
    user-select: none;
    font-weight: 550;
}

.btn-blue:hover {
    background-color: #19abe9;
}

.btn-blue {
    background-color: #40B8EA;
}

.btn-green:hover {
    background-color: #20b67c;
}

.btn-green {
    background-color: #70C5A4;
}

.btn-square {
    border-radius: 0px;
}

.rowflex {
    flex-direction: row;
}

.colflex {
    flex-direction: column;
}

.master-container {
    height: 82vh;
    box-shadow: 1px 1px 3px black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #c5e5d615;
    display: flex;
    overflow-y: auto;
}

.master-element {
    transition: 0.2s;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.master-element:hover {
    background-color: #ABDAC6;
    border-bottom: 2px solid #70C5A4;
    border-right: 2px solid #70C5A4;
    color: black;
}

.login_n_signup-form-container {
    padding: 10px;
}

.input_100w:focus {
    border-bottom: 3px solid #40B8EA;
}

.input_100w:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

.input_100w {
    transition: 0.2s;
    padding: 5px;
    border: none;
    outline: none;
    width: 98%;
    background: #ffffff48;
    border-radius: 3px;
}

.white-txt {
    color: white;
}

.black-txt {
    color: black;
}

.mega-big-text {
    font-size: 60px;
}

.textwt-500{
    font-weight: 500;
}

.textwt-700{
    font-weight: 700;
}

.textwt-900{
    font-weight: 900;
}

.big-text {
    font-size: 40px;
}
.medium-text {
    font-size: 30px;
}

#gig_rtfeditor {
    border-radius: 5px;
    background-color: orange;
}

/* ALERT BOX */

#alert-box-container {
    /* background: red; */
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 6;
    /* max-height: 386px;
    overflow-y: hidden; */
}

.alert-box a {
    transition: 0.2s;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}

.alert-box a:hover {
    text-shadow: 2px 2px 2px black;
    transition: 0.2s;
}

.enterAlert {
    animation-name: easein_R;
    animation-duration: 0.2s;
}

.exitAlert {
    animation-name: easeout_R;
    animation-duration: 0.6s;
}

@keyframes easeout_R {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-20%, 0);
    }
    30% {
        transform: translate(-20%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(140%, 0);
    }
}

@keyframes easein_R {
    0% {
        transform: translate(140%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.alert-box {
    transition: 0.2s;
    background-color: #101012;
    color: goldenrod;
    box-shadow: 1px 1px 2px goldenrod;
    padding: 10px;
    border-radius: 5px;
    max-width: 375px;
    margin: 5px;
    user-select: none;
    font-weight: 600;
    z-index: 6;
    position: initial;
    /* background: #D4EDDA; */
}

/* TAGS */
.warning {
    color: goldenrod;
    box-shadow: 1px 1px 2px goldenrod;
}
.warning:hover{
    box-shadow: 1px 1px 8px goldenrod;
}
.error {
    color: red;
    box-shadow: 1px 1px 2px red;
}
.error:hover{
    box-shadow: 1px 1px 8px red;
}
.success{
    color: #03a503;
    box-shadow: 1px 1px 2px #03a503;
}
.success:hover{
    box-shadow: 1px 1px 8px #03a503;
}    
.info{
    color: #5599FF;
    box-shadow: 1px 1px 2px #5599FF;
}
.info:hover{
    box-shadow: 1px 1px 8px #5599FF;
}




.alert-icon {
    margin-right: 10px;
    margin-left: 3px;
    /* border-left: 3px solid rgba(255, 145, 0, 0.808); */
}

.alert-message {
    padding: 10px;
    padding-right: 14px;
    font-size: 16px;
    margin-right: 25px;
}

.alert-closebtn {
    float: right;
    padding: 3px;
    margin-left: 8px;
    transition: 0.2s;
}

.alert-closebtn:hover {
    background: rgba(0, 0, 0, 0.219);
}

/* ALERT BOX END */

.gig-header {
    /* flex-grow: 1; */
    /* background-color: rgb(71, 65, 4); */
    padding: 10px;
}

.gig-title {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
}

.gig-author-container {
    float: right;
    user-select: none;
    font-weight: 300;
    text-align: right;
}

.gig-body {
    padding: 20px;
    margin: 10px;
}

.gig-location {
    height: max-content;
    background-color: #0000007c;
    border-radius: 3px;
    padding: 2px;
}

#map{
    height: 200px;
}

#gig-expiry-date{
    user-select: none;
    float: right;
    font-size: 22px;
    font-weight: 600;
}

