<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

<!-- BODY STARTS HERE -->
{% block body %}
{% endblock body %}
<!-- BODY ENDS HERE -->
    
</body>

<!-- POST DOC SCRIPT STARTS HERE -->
{% block postdoc_script %}
{% endblock postdoc_script %}
<!-- POST DOC SCRIPT ENDS HERE -->


</html>