<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/favicon.ico" type="image/gif" sizes="16x16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>tesplora{% block title %}{% endblock title %}</title>
</head>


<script>
    function closeAlertMessage(alertBoxCLSBTN) {

        alertBoxCLSBTN.parentElement.classList.add("exitAlert");
        setTimeout(function () { alertBoxCLSBTN.parentElement.remove(); }, 600);
    }

    function closeAlertMessage_TO(alertBox) {

        alertBox.classList.add("exitAlert");
        setTimeout(function () { alertBox.remove(); }, 600);
    }

    function createAlertMessage(tag, message) {
        let alertBoxContainer = document.getElementById('alert-box-container');

        let symbol = ``;
        if (tag == 'warning') {
            symbol = '<span class="alert-icon fas fa-exclamation"></span>';
        } else if (tag == 'info') {
            symbol = '<span class="alert-icon fas fa-info" ></span>';

        } else if (tag == 'success') {
            symbol = '<span class="alert-icon fas fa-check" ></span>';

        } else if (tag == 'error') {
            symbol = '<span class="alert-icon fas fa-times"></span>';

        }


        var current = new Date();

        let alertuid = String(current.getHours()) + String(current.getMinutes()) + String(current.getSeconds()) + String(current.getMilliseconds());

        alertBoxContainer.innerHTML += `
            <div class="alert-box ${tag} enterAlert" id="${alertuid}">

                ${symbol}

                <span class="alert-message">${message}

                </span>
                <span class="alert-closebtn fas fa-times" onclick="closeAlertMessage(this)"></span>


            </div>
            `;

        setTimeout(function () { document.getElementsByClassName('enterAlert')[0].classList.remove('enterAlert'); }, 200);
        setTimeout(function () {
            closeAlertMessage_TO(document.getElementById(alertuid));
        }, 6000); // Delete Alert after 6 seconds

    }


</script>


<!-- ALERT MESSAGE -->

<div class="alert-box-container" id="alert-box-container">
    {% for message in messages %}

    <div class="alert-box {{message.tags}} enterAlert">

        {% if message.tags == 'warning' %}
        <span class="alert-icon fas fa-exclamation" style="color: rgb(128, 77, 2);"></span>
        {% elif message.tags == 'info' %}
        <span class="alert-icon fas fa-info" style="color: rgb(0, 16, 85);"></span>
        {% elif message.tags == 'success' %}
        <span class="alert-icon fas fa-check" style="color: rgb(2, 110, 2);"></span>
        {% elif message.tags == 'error' %}
        <span class="alert-icon fas fa-times" style="color: rgb(85, 0, 0);"></span>
        {% endif %}

        <span class="alert-message">{{message|safe}}

        </span>
        <span class="alert-closebtn fas fa-times" onclick="closeAlertMessage(this)"></span>


    </div>

    <script>setTimeout(function () { document.getElementsByClassName('enterAlert')[0].classList.remove('enterAlert'); }, 200);</script>


    {% endfor %}
</div>

<!-- ALERTS END -->



<body>

    <div id="main-header-parent">
        <div id="main-header">

            <!-- 
        <img src="static/" alt="" id="header-logo-parent">
        tesplora -->

            <div id="main-inner-header">

                <div id="main-logo-container">
                    <img src="static/Tesplora standalone_LOGO_TRANSPARENT.png" alt="" id="header-logo-img">
                    <h1><span style="color: #40B8EA;">esp</span><span style="color: #70C5A4">lora</span></h1>
                </div>

                <!-- NOT LOGGED IN -->
                <!-- <div id="main-headericons-container">
                <img class="main-headericon-image" src="https://img.icons8.com/small/64/ffffff/why-us-male.png"/>
            </div> -->

                <!-- LOGGED IN -->
                <a href="/login">
                    <div id="main-headericons-container">

                        <img class="main-headericon-image"
                            src="https://img.icons8.com/small/64/ffffff/gender-neutral-user.png" />
                    </div>
                </a>

            </div>



        </div>
    </div>



    <!-- VARIABLE BODY STARTS HERE -->
    {% block body %}
    {% endblock body %}
    <!-- BODY ENDS HERE -->

</body>

<!-- POST DOC SCRIPT STARTS HERE -->
{% block postdoc_script %}
{% endblock postdoc_script %}
<!-- POST DOC SCRIPT ENDS HERE -->


<script>
    document.getElementById('main-logo-container').onclick = (e) => {
        window.location.href = window.location.origin;
    }
</script>

</html>