<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/favicon.ico" type="image/gif" sizes="16x16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>tesplora{% block title %}{% endblock title %}</title>
</head>

<body>

    <div id="main-header-parent">
        <div id="main-header">

            <!-- 
        <img src="static/" alt="" id="header-logo-parent">
        tesplora -->

            <div id="main-inner-header">

                <div id="main-logo-container">
                    <img src="static/Tesplora standalone_LOGO_TRANSPARENT.png" alt="" id="header-logo-img">
                    <h1><span style="color: #40B8EA;">esp</span><span style="color: #70C5A4">lora</span></h1>
                </div>

                <!-- NOT LOGGED IN -->
                <!-- <div id="main-headericons-container">
                <img class="main-headericon-image" src="https://img.icons8.com/small/64/ffffff/why-us-male.png"/>
            </div> -->
                
            <!-- LOGGED IN -->
                <a href="/login">
                <div id="main-headericons-container">
                
                    <img class="main-headericon-image" src="https://img.icons8.com/small/64/ffffff/gender-neutral-user.png" />
                </div>
                </a>

            </div>



        </div>
    </div>



    <!-- VARIABLE BODY STARTS HERE -->
    {% block body %}
    {% endblock body %}
    <!-- BODY ENDS HERE -->

</body>

<!-- POST DOC SCRIPT STARTS HERE -->
{% block postdoc_script %}
{% endblock postdoc_script %}
<!-- POST DOC SCRIPT ENDS HERE -->


<script>
    document.getElementById('main-logo-container').onclick = (e) => {
        window.location.href = window.location.origin;
    }
</script>

</html>