{% extends 'base.html' %}
{% load b6_filters %}
{% block title %} - View Gig{% endblock title %}
{% block body %}



<div class="white-txt">


    {% if ERROR is not None %}
    <br><br>
    <div class="mega-big-text textwt-700">
        {{ERROR}}
    </div>

    {% else %}
    <!-- GIG FOUND -->

    <div class="master-container colflex" style="background-color: #18362a15;margin: 3px; height: 84vh;z-index: 3;">
        

        <div class="gig-header">
            <div class="gig-title">
                {{REQUESTED_GIG.title}} 

                {% if REQUESTED_GIG.author == user %}

                <div id="edit_gig_button" onclick="window.location.href='/editgig-{{REQUESTED_GIG.id}}'">
                    Edit <span class="fas fa-edit" style="font-size: 17px;"></span>
                </div>
                
                {% endif %}


            </div>
            <div class="gig-author-container" onclick="window.location.href = '/profile-{{REQUESTED_GIG.author}}';">
                -{{REQUESTED_GIG.author.first_name}}<br>Published on: {{REQUESTED_GIG.date_created}}
            </div>

        </div>
        <!-- <hr> -->

        <!-- BODY -->


        <div class="gig-location" id="map">
            
            <iframe height="200" style="border:0; width: 100%; filter: grayscale(100%) invert(92%) contrast(83%);" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCvW_prr2UywPZXK5NGuShRRfX6YsNKsfw&q={{REQUESTED_GIG.destination|destination_}}&zoom=5">
            </iframe>


        </div>
        
        <div class="gig-body">

            <div class="gig-description">
                {{REQUESTED_GIG.description|safe}}
                <br><br>
                <div style="padding: 1px; background-color: #0000007c"></div>
                <div id="gig-expiry-date"><span style="color: grey; font-size: 18px;">({{REQUESTED_GIG.duration}} day(s) left!)</span> EXPIRES ON: <span style="color: crimson; background-color: black; border-radius: 5px; padding: 5px;">{{REQUESTED_GIG.date_of_expiry}}</span>
                    </div>
            </div>
            <br><br>
            <div class="gig-detail">
                Price Per Head: <span class="code_box" style="color: #40B8EA;">₹{{REQUESTED_GIG.price}}/-</span>
            </div>
            <div class="gig-detail">
                Total Package Seats: <span class="code_box" style="color: #40B8EA;">{{REQUESTED_GIG.max_people_count}}</span>
            </div>
            <br>
            <div class="gig-detail">
                Date Of Departure: <span class="code_box" style="color: #40B8EA;">{{REQUESTED_GIG.departure_date}}</span>
            </div>
            <div class="gig-detail">
                Date Of Return: <span class="code_box" style="color: #40B8EA;">{{REQUESTED_GIG.return_date}}</span>
            </div>
            <br>

            <div class="btn btn-green btn-square" style="font-size: 20px;">I'm in!</div>
            <div class="btn btn-blue btn-square" style="font-size: 20px;" onclick="document.getElementById('seller-details').style.display = 'block'">Contact</div>
        </div>

        <div id="seller-details" style="display: none;">
            <span class="medium-text textwt-700">SELLER DETAILS</span>
            <hr>

            <div id="seller-details-body">
                <div id="seller-details-txt">
                    
                    Name: <span class="" style="padding: 3px; color: #40B8EA;">{{REQUESTED_GIG.author.first_name}}</span><br>

                    Email: <a href="mailto:{{REQUESTED_GIG.author.email}}" target="_blank"><span class="" style="padding: 3px; color: #40B8EA;">{{REQUESTED_GIG.author.email}}</span></a><br>

                    Phone No.: <span class="" style="padding: 3px; color: #40B8EA;">{{REQUESTED_GIG.author.profile.phone_no}}</span><br>
                    
                </div>
                
                <img id="seller-profilepic" src="{{REQUESTED_GIG.author.profile.profilePic.url}}" alt="">

            </div>


        </div>

    </div>

</div>

<style>
</style>

{% endif %}
</div>
{% endblock body %}